db.sqlite3

users/migrations/
users/__pycache__/
users/tests/__pycache__/

photo_gallery/migrations/
photo_gallery/__pycache__/

orders/migrations/
orders/__pycache__/

courses/migrations/
courses/__pycache__/

website/__pycache__/

idea/
